*#
*~
.#*
.DS_Store
.agignore
.env
.projectile
.tmp/
.idea/
*.bin
*.swp
.vscode
core-sources.jar
coverage.txt
dist/
gen.sum.tmp
gin-bin
out/
profile.out
vendor/
debug.log

benchmark_result.json

# Delve's binaries
*__debug_bin

# Dev dbs
/*gui.d
