# To see the date when a version was updated, use git blame:
# https://github.com/berty/weshnet/blame/main/.tool-versions

#-----
# This is simply the most recent version available to date of the lowest
# major version of Go which is allowed by kubo.
# There is no contraindication for updating it.
#-----
golang 1.22.5

#-----
# This is simply the most recent golangci-lint version available to date.
#-----
golangci-lint 1.59.1

#-----
# This is simply the most recent jq version available to date.
# There is no contraindication for updating it.
#-----
jq 1.6

#-----
# This is simply the most recent buf version available to date.
# There is no contraindication for updating it.
#-----
buf 1.36.0
