#-----
# golang golang 1.19.7 is simply the most recent version available to date (03/30).
# There is no contraindication for updating it.
#-----
golang 1.19.7

#-----
# golangci-lint 1.51.2 is simply the most recent version available to date (07/22).
#
# @TODO(gfanton): check if we still have this issue
# The current version of golangci-lint also has a problem displaying logs on
# Github actions, see: https://github.com/golangci/golangci-lint-action/issues/119
#
# It would be good to update it (when possible) to a version that fixes this log
# issue and to update the golangci-lint Github Actions step accordingly.
#-----
golangci-lint 1.51.2

#-----
# jq 1.6 is simply the most recent version available to date (07/22).
# There is no contraindication for updating it.
#-----
jq 1.6

#-----
# buf 1.14.0 is simply the most recent version available to date (03/23).
# There is no contraindication for updating it.
#-----
buf 1.15.1
